* {
  margin: 0px;
  padding: 0px;
}

/* general setting ends */

/* navbar start */
.brandLogo {
  font-size: 35px;
  font-family: monospace;
}
.fontBold {
  font-weight: 500;
}
.fontSize18 {
  font-size: 18px;
}
.nav-link{
  color: rgb(0, 0, 0) !important;
  
}
.navActive {
  border-bottom: 2px solid black;
  color: black !important;
}
.nav-item:hover{
   color: #000;
}

.nav-item:target{
  border-bottom: 2px solid black;
}
/* navbar end */

/* hero section started */
.marginNavTop {
  margin-top: 180px;
}
.borderRadius30 {
  border-radius: 30px !important;
}
.heroSectionContent {
  margin-top: 85px !important;
}
.heroSectionContent h1 {
  margin-top: 22px;
  font-size: 30px;
  color: #40444c;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}
.heroSectionContent p {
  font-size: 20px;
  color: #7b8295;
  font-family: sans-serif;
  text-align: center;
}
.heroCard img {
  height: 35px;
  width: 35px;
  opacity: 0.6;
}
.heroCard h1 {
  font-size: 30px;
  color: #5f687b;
  font-weight: 500;
  font-family: monospace;
}
.heroCard p {
  font-size: 20px;
  color: #5f687b;
  font-family: "Courier New", Courier, monospace;
}
/* hero section end */


.pageHeading h2 {
  font-size: 35px;
  color:#1b3567;
  text-transform: uppercase;
  font-weight: 600;
  font-family: monospace;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.pageHeading p {
  font-size: 30px;
  color:#1b3567;
  text-align: center;
}
.aboutContent h2 {
  font-weight: 500;
  font-size: 25px;
}
.aboutContent p {
  font-size: 18px;
  color: #5f687b;
}
.aboutContent h5 {
  font-size: 18px;
}
.counterCard h1 {
  font-size: 45px;
  color: #bc2d10;
  font-weight: bold;
  text-align: center;
}
.counterCard p {
  font-size: 18px;
  color: #5f687b;
  text-align: center;
}
.serviceCard {
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
  border-radius: 6px;
  box-shadow: 1px 1px 1rem #c0202e !important;
}
.serviceCard img {
  height: 70px;
  /* width: 70px; */
}
.serviceCard h2 {
  color: #5f687b;
  font-size: 25px;
}
.serviceCard p {
  color: #5f687b;
  font-size: 16px;
  text-align: justify;
}

.contactLeftDiv{
  background-color: #fff9f9;
}

.contactLeftDiv img {
  height: 30px;
  width: 30px;
}
.contactLeftDiv h5 {
  color: #d3231d;
  font-size: 33px;
}
@media  (max-width:576px){
  .contactLeftDiv h5 {
   
    font-size: 23px;
  }
  .contact-p{
   
    font-size: 14px;
   }
}

.contact-p{
 color: #575353;
 font-size: 18px;
 font-weight: 700;
} 


/* navbar start */
.navPopBg {
  background: rgb(255,250,250);
  background: linear-gradient(217deg, rgba(255,250,250,1) 16%, rgba(247,251,255,1) 64%);
}
.servicePopup {
  width: 800px !important;
  display: flex;
  left: -120px;
}
@media (max-width: 853px){
  .servicePopup{
    width: 90% !important;
    left: 20px ;
  }

}
@media (max-width: 653px){
  .row-block{
    display: block !important;
  }

}
.subMenuDiv p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 4px;
  opacity: 0.7;
  font-size: 14px;
}
.subMenuDiv h5 {
  font-size: 18px;
}
.subMenuDiv {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
}
.subMenuDiv:hover {
  background-color: white !important;
}
.tringle {
  height: 18px;
  width: 18px;
  background-color: white;
  margin-top: 46px;
  rotate: 45deg;
  left: -20px;
  position: relative;
}
.subSubMenuDiv img {
  height: 55px;
  opacity: 0.8;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 8px;
}
.serviceSubSubMenuMainDiv {
  background-color: white;
  border-radius: 12px;
}
.subSubMenuDiv p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 4px;
  opacity: 0.7;
  font-size: 14px;
  opacity: 0.8;
  color: rgb(0, 0, 0);
}
.subSubMenuDiv:hover p {
  
  color: rgb(0, 0, 0);
}
.subSubMenuDiv h5 {
  font-size: 16px;
  opacity: 0.8;
  color: rgb(0, 0, 0);
}
.subSubMenuDiv:hover h5 {
  
  color: rgb(0, 0, 0);
}
.gradient-bg {
  background: linear-gradient(180deg, #eef4ff 0%, #fff 300px);
}

.companyStripSection-heading{
   padding-top: 14px;
  border-radius: 20px;
background-color: #d3231d;
color: white;

}



.companyStripSection {
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: #ffffff;
}

.modal-backdrop {
  top: 500px !important;
}
/* navbar end */

/* footer start */
.responsive-image {
  max-width: 100px;
  height: auto;
}

.small-text {
  font-size: 13px;
}
.very-small-text {
  font-size: 12px;
}
.text-gray {
  color: gray;
}

.image-hover:hover {
  background-color: #007bff; /* Change background color on hover */
  /* Optional: Slightly scale the image */
  cursor: pointer;
}

.link-hover-orange {
  color: #cbcbcb; /* Initial color */
  transition: color 0.3s; /* Smooth transition */
}

.link-hover-orange:hover {
  color: rgb(224, 224, 224); /* Color when hovered */
}

.bg-light-green {
  background-color: #fff0f0; /* Light green color */
}
/* footer end */

.responsive-image {
  max-width: 100px;
  height: auto;
}

.small-text {
  font-size: 13px;
}
.very-small-text {
  font-size: 12px;
}
.medium-text {
  font-size: 18px;
}
.text-gray {
  color: gray;
}

.image-hover:hover {
  background-color: #007bff; /* Change background color on hover */
  /* Optional: Slightly scale the image */
  cursor: pointer;
}

.link-hover-orange {
  color: #cbcbcb; /* Initial color */
  transition: color 0.3s; /* Smooth transition */
}

.link-hover-orange:hover {
  color: rgb(221, 221, 221); /* Color when hovered */
}

.bg-light-green {
  background-color: #fff0f0; /* Light green color */
}

.custom-dimensions {
  width: 550px;
  height: auto;
}
.custom-dimensions2 {
  width: 600px;
  height: auto;
}

.bg-orange {
  background-color: #f56b06;
}

.orange-color {
  color: #ff3838;
}

.bg-purple{
  background-color: #222425;
}
.bg-very-dark-blue{
  background-color: #060606;
}

.top-to-bottom-color {
  background: linear-gradient(to bottom, #fff8f8, #ffffff);
}

.scrolling-image {
  position: relative;
  overflow: hidden;
  height: 150px; /* Set height for the image container */
}

.scrolling-image img {
  position: absolute;
  bottom: -100%; /* Start position from below */
  animation: scroll-up 15s linear infinite; /* Animation for scrolling up */
}

@keyframes scroll-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%; /* End position at the top */
  }
}

.bg-light-white {
  background: #fcfcfc;
}

.hover-effect:hover {
  transform: scale(1.1); /* Slightly enlarge the div */
  transition: all 0.5s ease-out;
}

.hover-shadow:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Bottom shadow effect */
}

.box-shadow{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 993px) {
 
  .div-static-in-small{
    position:relative;
    left: 200px
  }
}

.bg-dark-blue {
  background: #f3f3f3;
}
.bg-red {
  background: #000;
}
.textJustify {
  text-align: justify !important;
}
.navTabMain {
  border-radius: 4px;
  background-color: #d3231d;
 color: white;
  
}
.navTab {
  /* background-color: #FAFBFF; */
  font-family: poppins;
  border-radius: 24px;
  /* opacity: 0.7; */
  width: 180px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
.opacity1 {
  opacity: 1 !important;
}


@media only screen and (max-width: 600px) {
  .marginNavTop {
    margin-top: 120px;
  }
 
  .navTab {
    /* background-color: #FAFBFF; */
    font-family: poppins;
    border-radius: 24px;
    opacity: 0.7;
    width: 110px;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
  }
  .imgHeightSlider{
    height: 180px;
  }
}
.imgHeightSlider{
  height: 220px;
}



.selcted-navTabMain{
 
border-radius: 4px;
background-color: #000000;
  color: white;
  text-transform: uppercase;
color: #ffffff;
font-weight: 700;
}
.send-message{
  background-color: #d3231d;
  color: rgb(255, 255, 255);
  width: 160px;
  height: 37px;
  padding: 5px;
  border-radius: 17px;
  border: none;
}

.footer-color{
  background-color: #000000;
}

.footer-logo{
  background-color: #ffffff;
  border-radius: 7px;
}
.subSubMenuDiv{
  background-color: #fbeded;
  border: 1px solid rgb(232, 232, 232);
}
.subSubMenuDiv:hover{
  background-color: #f5cccc;
}
.subSubMenuDiv:focus {
  background-color: #fdc11f;
}
.bg-dark-grey{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,250,250,1) 20%, rgba(255,247,247,1) 49%, rgba(255,245,245,1) 75%);
}
.contact-btn{
  padding: 6px 42px;
  border-radius: 18px;
  color: white !important;
}


.container {
  max-width: 1200px;
  margin: 0 0;
  z-index: 1;
}

.zig-zag-container {
  /* margin-top: 200px; */
  position: relative;
  padding-bottom: 10px;
  margin: 200px 0px 0px;


}

.zigzag-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 420px;
}

.flex-item {
  flex: 1;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -24%;
}




.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.smaller-img {
  width: 80%;
}

.smaller-heading {
  font-size: 1.5rem;
 
text-transform: uppercase;
color: #000000;
font-weight: 900;

}

.smaller-para {
  font-size: 1rem;

color: #706d6d;


}

.smaller-btn {
  font-size: 0.875rem;
}

.empty-side {
  min-height: 200px;
}

.item {
  width: 40%;
}

/* .road-image{
  transform: rotate(90deg);
position: absolute;
top: 200px;
left: 20%;
}
.road-image-2{
  transform: rotate(90deg);
  position: absolute;
  left: 21.6%;
  top: 1000px;
} */


.road-end{
  width: 80px;
  height: 80px;
  position: absolute;
  left: 54%;
}
.road-image{
  transform: rotate(90deg) !important;
position: absolute;
/* top: 200px; */
height: 130px;
width: 470px !important;
left: 35% ;
z-index: 1;
}
.outer-location-box{
  background-color: #d3231d;
  position: absolute;
  left: 54%;
   top: -20%;
 z-index: 3;
 padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.location-box{
  width: 35px;
  height: 30px;
 
}
.location-box:hover {
  transform: scale(2);
}

/* .zigzag-img1{
   position: absolute;
   left: 0;
   width: 500px;
   bottom: 400;
}
.zigzag-img2{
  
} */
 


/* Add this to your CSS file */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.road-image, .location-box {
  opacity: 0; /* Initial state */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.road-image.animate, .location-box.animate {
  animation: fadeInUp 0.5s forwards; /* Apply animation */
}

@media (max-width:1400px){
    
  .road-image{
    height: 60px;
  }

}

@media (max-width:1200px){
    
  .road-image{
    height: 100px;
    left: 68% ;
    width: 650px !important;
  }

  .location-box{
   
    width: 30px;
    height: 25px;
  }
  .outer-location-box{
    left: 116%;
    top: -7%;
  
  }
  .road-end{
   
    left: 89%;
 
  }

  .item {
    width: 80%;
  }

  .img-wrapper {
  
    margin-top: 0;
  }
  .zigzag-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 580px;
    width: 75%;
  }
  
  
}
@media (max-width:1000px){
  .location-box{
   
    width: 25px;
    height: 20px;
  }
   .outer-location-box{
    left: 132%;
    top: -17%;

   }

}

@media (max-width:800px){
  .location-box{
   
    width: 0px;
    height: 0px;
    
  }
  .road-image{
    height: 0;
    width: 0;
    
  }
  .road-end{
    width: 0;
    height: 0;
    display: none;
  }
  .zigzag-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
  }
}

.banner-img{
  width: 1100px !important;
  height: 470px !important;
}
 

@media (max-width:500px){
  .banner-img{
  height: 200px !important;
   
  }
}
.main-div{
  background-color: #ffffff;
/* background-color: rgb(245, 243, 244); */
/* background-color: #edf2f4; */
/* background-color: #fffcf2; */
/* background-color: #e9ecef; */

}



/* navbar triangle code */

.modal-content {
  position: relative;
 
}

.modal-content::before {
  content: '';
  position: absolute;
  top: -10px;
  left: var(--triangle-position, 50%);
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
 

   border-left: 10px solid transparent; 
  border-right: 10px solid transparent;  
   border-bottom: 10px solid #d3231d; 

  z-index: 1;
}

.service-modal .modal-content::before{
  left: var(--triangle-position, 28%);
  transform: translateX(-300%);
}

.consulting-modal .modal-content::before{
  left: var(--triangle-position, 43%);
  transform: translateX(-300%);
}

.application-cloud .modal-content::before{
  left: var(--triangle-position, 65%);
  transform: translateX(-300%);
}
.solution-model .modal-content::before{
  left: var(--triangle-position, 86%);
  transform: translateX(-300%);
}

@media (max-width: 984px){
  .modal-content::before{
    display: none;
  }
}





/* hero section css  */

.outer-div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: url("/assets/back.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  */
  background-color: #fdf2f2;
 
  width: 100%;
}
@media(max-width:626px){
 .outer-div{
  /* background-image: url("/assets/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  */

 }
}

/* .links ul li {
  text-transform: uppercase;
} */
body , html{
  overflow-x: hidden !important; 
}

 .contact-btn{
  /* background-color: rgb(250 , 191 , 15);
  width: 150px;
  height: 30px;
  border-radius: 3px;
  padding: 0 !important; */
  color: rgb(0, 0, 0) !important;
  margin-top: 16px;
}
.contactus-a {
  text-decoration: none;
}
@media(max-width:991px){
  .contact-btn{
   margin-bottom: 20px;
  }
  .navbar-nav{
    display: flex;
    align-items: end;
 
  }
  .navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: end !important;
  

  }

 }

.navbar{
    
   padding-top: 20px !important;
    /* background-image: url("/assets/backround.jpg"); */
    background-color: #fdf2f2;

}
.collapse{
  justify-content: center !important;
}

.logo{
  width: 150px;
} 
@media(max-width:768px){
  .logo{
      width: 130px !important;
  }
  
}


.heading{
  /* color: rgb(250, 191, 15); */
  /* font-size:60px; */
  color: #c0202e;
  font-size: 4.1vw;
  font-weight:800;
  line-height: 50px;
}
.head2{
  color: rgb(0, 0, 0);
  /* font-size:44px; */
  font-size: 3vw;
  font-weight:800;  
  transform: scaleY(2.5);
}
.para{
  color: rgb(88, 81, 81);
  font-size: 23px;
  font-weight: bold;
  /* text-transform: uppercase; */
  margin-right: 10vw;
}

@media (max-width:930px){
  .heading{
   font-size: 7vw;
    line-height: 50px;
  }
  .head2{
   font-size:5vw;  
} 
}

@media   (max-width:426px){
  .para{
      font-size: 14px;
  }

.heading{
  font-size: 9vw;
  line-height: 35px;
 }
 .head2{
  font-size:7vw;  
} 
.img{
  margin-bottom: 80px !important;
}
.home-text{
  margin-top: 30% !important;
}
}


@media (max-width:350px){
  .para{
      font-size: 15px;
  }

.img{
  
  margin-bottom: 75px !important;
}
}
.img{
  margin-top: 40px;
  /* width: 612px !important; */
  width: 44vw !important;
}

.img-1{
  top: -10%;
  right: 10%;
  width: 7vw;
}
.img-2{
bottom: 14%;
left: 30%;
width: 7vw;
}
.img-3{
  bottom: 10%;
    left: 13%;
  }
.homepage{
    margin-top: 40px;
}

@media (max-width:1024px){
  .img{
      width: 500px !important;
      margin-bottom: 180px;
  }
  .outer-div{
      height: 100%;
    
  }
  .home-text{
    margin-top: 20%;
  }
  .homepage{
    flex-wrap: wrap;
  }
  .img-1{
    top: 15%;
    right: 10%;
  }

    
}

@media  (max-width:630px){
  .img{
      width: 300px !important;
      margin-bottom: 180px;
  }
  .container{
    padding: 0 !important;
  }
  .img-3{
    bottom: 1%;
      left: 13%;
    }
    .img-2{
      bottom: 10%;
      left: 10%;
      width: 10vw;
      }
      .img-1{
        width: 10vw;
      }
}
.terms{
  padding: 0 !important;
}
.footer-row{
  margin: 0 !important;
}
.footer-col{
  padding: 0 !important;
}

.navbar-toggler{
  padding: 0 !important;
  font-size: 24px !important;
  color: white;
  width: 40px !important;
}


/* brand section css */
.brand-trust-us{
  background-color: #ffffff;
}
.brand-h{
  font-size: 37px;
text-transform: uppercase;
color: #d3231d;
font-weight: 900;

}
.brand-p{
     font-size: 19px;
     letter-spacing: 1px;
}
@media  (max-width:455px){
    .brand-h{
      font-size: 30px;
    }
    .brand-p{
      font-size: 13px;
      padding: 0px 8px;
    }
    .brand-images{
      gap: 0px !important;
    }
    .brand-img img{
      width: 142px;
    }
}

/* Nitty Gritty Section Style */

.nity-grity-h{
  color: #d3231d;
   font-size: 34px;
   font-weight: 900;
   transform: scaleY(1.3);
}

.nity-grity-p{
  color: #000000;
font-weight: 300;
font-family: "Copperplate Gothic";
font-size: 17px;
}

@media  (max-width:580px){
  .nity-grity-h{
     
     font-size: 25px;
     font-weight: 700;
     
  }
  
  .nity-grity-p{

  font-size: 14px;
  }
  .nitty-row1{
    padding: 0 11px;
    text-align: center;
  }
}
.nitty-row1 {
  margin-bottom: 50px;
}

.bank-finance{
  color: #ffffff;
font-weight: bold;
transform: scaleY(1.3);
font-size: 25px;
padding: 8px 0px;
}
.bank-bg{
  background-color: #d3231d;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.bank-box{
   border-radius: 18px;
   margin: 15px 70px !important;
   box-shadow: 0px 2px 24px -2px #a3c0dd !important;
}
.bank-p{
  color: #1b3667;
font-weight: 300;
font-family: "Copperplate Gothic";
text-align: center;
font-size: 17px;
}

@media  (max-width:580px){
  .bank-box{
    
    margin: 15px 20px !important;
 }
 .bank-p{
  font-size: 14px;
}
}

/* @media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-xl {
    max-width: 100% !important;
  }
} */




.contactLeftDiv1{
  background-color: #ffffff;
}
.get-touch{
     font-size: 29px;
     color: #fd1f1f;
}
.contact-img{
  height: 90%;
  width: 80%;
}
.form-label{
  color: #ffffff;
}
@media  (max-width:768px){
  .contact-img{
    height: 40%;
    width: 60%;
  }
}


.form-control{
  /* background-color: #d3231d !important;
  color: white !important; */
}

.a-young-team{
  width: 70%;
  margin-top: 20px;
}
@media(max-width:769px){
  .a-young-team{
    width: 100%;
    margin-top: 10px;
  }
}


/* product engineering css */
.product-engineering-container {
  padding: 20px;
}

.product-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 15px;
  background-color: lightcoral; /* Light red */
  color: black;
}

.product-section img {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border: 2px solid red;
}

.product-section h2 {
  color: red;
}

.product-section p {
  color: black;
}

.product-card{
  width: 28%;

}

.product-card img {
  height: 30px ;
}
.area img {
  height: 40px;
}
@media (max-width: 768px){
  .product-card{
    width: 40%;

  }
}
@media (max-width: 530px){
  .product-card{
    width: 90%;

  }
}
.nity-box{
  border-radius: 8px;
}

.nity-box-h{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
    background-color: #fd1f1f;
}


.service-logo{
    width: 31px;
  
}